* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.headingdiv {
  width: 99vw;
  margin-top: 0px;
  margin: 0px;
  height: 100px;
  background-color: rgb(0, 99, 255);
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.intro-box {
  background-color: #bcf200;
  min-height: 400px;
}

.headingmenu ul {
  list-style-type: none;
  margin-top: 15px;
  padding: 0;
}

.headingmenu li {
  display: inline-block;
  margin: 20px;
}

.headingmenu li a {
  color: white;
  text-decoration: none;
  padding: 14px, 16px;
}

.headinglogo {
  margin-left: 80px;
  max-width: 200px;
  justify-content: space-evenly;
  display: flex;
}

.headingmenu {
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 500px;
}

.bungeejumpingimage {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.headerquote {
  display: flex;
  justify-content: center;
  font-size: 28px;
  color: #2f6168;
}

.terribleheadertext {
  margin-top: 70px;
}

.links2nav {
  display: flex;
  font-size: 28px;
  justify-content: center;
  margin-top: 40px;
  color: #2f6168;
}

.footer {
  width: 99vw;
  margin-bottom: 0px;
  margin-top: -100px;
  height: 100px;
  background-color: #ed107f;
}

.links2nav a {
  display: inline-block;
}
.footertext {
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-size: 23px;
  margin-top: 80px;
}

.footertext1 {
  margin-right: 30px;
  margin-top: 40px;
}

.button {
  color: #003b63;
  font-size: 19px;
  margin: 30px 5px;
  padding: 15px 15px;
  border: 2px solid #003b63;
}

/* Page 2 Gallery */

.page2header {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.page2header h1 {
  font-size: 55px;
}

.page2links {
  color: #003b63;
  font-size: 23px;
  margin: 20px 40px;
  padding: 15px 30px;
  border: 2px solid #003b63;
}

.page2linksdiv a {
  display: inline-block;
}

.page2linksdiv {
  display: flex;
  font-size: 28px;
  justify-content: center;
  margin-top: 40px;
  color: #2f6168;
}

.calltoactiontext {
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin-top: 30px;
}

.calltoactionp1 {
  justify-content: center;
  max-width: 1300px;
  text-align: center;
}

.calltoactionheader {
  justify-content: center;
}

.imagebox {
  justify-content: center;
  display: flex;
  fill: aqua;
}

.headergallery {
  margin-top: 12px;
  margin-bottom: 12px;
  justify-content: center;
  display: flex;
}

.imagebox img {
  margin-right: 20px;
}

.imagebox {
  margin-bottom: 8px;
}

/* Page 3: Bridge */

.bridgeimage {
  margin-top: 100px;
  justify-content: center;
  display: flex;
}

.bridgeimage img {
  width: 100vw;
  margin-right: 0px;
  position: relative;
}

.bannerbridge {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 450px;
  margin-bottom: 20px;
}

.bannerbridge h1 {
  border: solid;
  border-color: #003b63;
  background-color: #003b63;
  color: white;
  font-size: 60px;
  text-align: center;
  border-width: 20px;
  border-radius: 20px;
}

.pricingbox {
  border: outset solid;
  display: flex;
  justify-content: center;
}

/* .heightbridge{} */
